#dash-header {
  font-size: 2rem !important;
  color: #A1A98E !important;
}

#chart-activity {
  // margin: 40px 0px 15px 0px;
}

#activity-title {
  color: #D58B6A;
  margin: 20px 0px 20px 30px;
}

#impact-text {
  margin-top: -220px;
}

#impact-card {
  display: flex;
  // margin-top: -190px;
  margin-left: 100px;
}

.social-card {
  margin: 25px;
  margin: 25px;
  padding-top: 25px;
  padding-left: 60px;
}

.chart {
  display: flex;
  justify-content: center
}

#chart-grid {
  grid-area: chart;
  background-color: white;
}
#activity-grid {
  grid-area: activity;
  margin-top: 0px;
  align-self: start;
  padding-bottom: 10px;
  background-color: white;
}

#activity-grid li {
    list-style-type: none;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 10px;
    font-size: 1.05em;
    opacity: 0.6;
}
#impact-grid {
  grid-area: impact;
  background-color: white;
}
#sum-grid {
  grid-area: sum;
  background-color: white;
}

#ngo-grid {
  grid-area: ngo;
  width: 100%;
  border-radius: 8px;
}

#social-grid {
grid-area: social;
text-align: center;
padding-left: 0px;
background-color: white;
}

.dash-grid {
  display: grid;
  margin-top: 20px;
  grid-gap: 20px 50px;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px auto 300px;
  grid-template-areas:
    "chart chart activity"
    "impact sum activity"
    "ngo social .";
}

.dash-body {
  width: 100%;
  height: 100%;
  background: no-repeat image_url('dashboard_back.png');
  background-position: 0% 0%;
  background-size: contain;
}

@include media-breakpoint-down(sm) {
  .dash-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "activity"
    "sum"
    "impact"
    "ngo"
    "social";
  }
}
