#dash-header {
  font-size: 2rem !important;
  color: #A1A98E !important;
}

#chart-activity {
  // margin: 40px 0px 15px 0px;
}

#activity-title {
  color: #D58B6A;
  margin: 20px 0px 20px 30px;
}

#impact-text {
  margin-top: -220px;
}

#impact-card {
  display: flex;
  // margin-top: -190px;
  margin-left: 100px;
}

.social-card {
  margin: 25px;
  margin: 25px;
  padding-top: 25px;
  padding-left: 60px;
}

