// Specific CSS for your home-page
#how-to {
  display: flex;
  justify-content: space-around;
}

#easypeasy {
  margin-top: 100px;
}

#ngo-list {
  margin-top: 100px;
}

body {
  background-color: white;
  position: relative;
}

.container-no-padding {
  padding-right: 0;
  padding-left: 0;
}

.jumbotron {
  width: 100%;
  height: 500px;
  background-color: transparent;
  background-image: image_url('photobackground.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 0%;
}

.jumbotron:hover {
  width: 100%;
  height: 500px;
  background-color: transparent;
  background-image: image_url('photobackground.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 0%;
}

.card-landing {
  display: flex;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px 0px;
  padding: 40px;
  align-items: flex-end;
  margin: 30px;
}

#card-steps {
  padding: 20px;
  margin: 30px;
}

.jumbotron-two {
  width: 100%;
  height: 600px;
  background-image: image_url('backaman.png');
  background-repeat: no-repeat;
  background-position: 0% 20%;
  background-size: contain;
  margin-top: -50px;
}

.user-ex {
  display: flex;
  justify-content: start;
  margin: 150px;
}

#meetaman {
  color: #72B39F;
  padding-bottom: 20px;
}

#p-aman {
  font-weight: 200;
  font-size: larger;
  overflow-wrap:break-word;
}

.jumbotron-three {
  width: 100%;
  height: 100%;
  background-image: image_url('back-2.png');
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: contain;
}

.strong-font {
  color: #D58B6A;
  font-size: larger;
}

.strong-head {
  font-weight: 800;
}

.textid {
  color: #D58B6A;
}

#how-does {
  margin-top: 120px;
}

