// Specific CSS for your home-page
#how-to {
  display: flex;
  justify-content: space-around;
}

#easypeasy {
  margin-top: 40px;
}

#ngo-list {
  margin-top: 50px;
}

body {
  background-color: white;
}

.jumbotron {
  width: 100%;
  height: 800px;
  background-image: image_url('jumbotron.png');
  background-size: cover;
  background-position: center center;
}

.card-landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 70px;
  padding: 40px;
  justify-items: center;
}
