#link-title {
  margin-top: 30px;
}

#link-button {
  margin: 0px 0px 30px 200px;
}

.Back {
  margin-left: 25px;
}

#link-p {
  margin-top: -20px;
  font-style: italic;
}

#transaction-link {
}

#total-transactions {
  margin: 30px 0px 5px 30px;
}

#number-transaction {
  margin: -10px 10px 0px 30px;
}

#total_spend {
  margin: 40px 0px 10px 30px !important;
  font-size: 0.9rem;
  letter-spacing: 0.005rem;
}

#submit-link {
  margin: -50px 0px 30px 30px;
}

.donation {
  display: flex;
}

#card-spend-trans {
  display: flex;
  justify-content: space-evenly;
}
