#make-donation {
  margin-top: 30px;
}

#amount-donation {
font-size: 32px;
margin-bottom: 20px;
}

.amount-button {
      display: inline-block;
    text-align: center;
}

#payment-con {
  text-align: center;
}

#button-con {
  margin-top: 30px;
}

#con-text {
  text-align: center;
}
