#make-donation {
  margin-top: 30px;
}

#amount-donation {
font-size: 32px;
margin-bottom: 20px;
}

.amount-button {
      display: inline-block;
    text-align: center;
}

#payment-con {
  text-align: center;
  max-width: 600px;
}

#button-con {
  margin-top: 30px;
}

#con-text {
  text-align: center;
}

#con-page {
  text-align: center;
}

#receipt {
  width: 400px;
  padding: 20px 50px;
  margin-bottom: 50px;
}

#receipt p {
  color: grey;
  font-size: 1.2rem;
  text-align: start;
}
