.show-button {
  margin: 0px 0px 20px 20px;
}

.button-show {
  display: flex;
  align-items: baseline;
}

#index-page {
  display: grid;
  padding: 20px;
  justify-items: center;
}

.con-show {
  display: flex;
  justify-content: center;
}
