.show-button {
  margin: 0px 0px 20px 20px;
}

.button-show {
  display: flex;
  align-items: baseline;
}

#index-page {
  margin: 30px 0px 0px 0px;
}

.con-show {
  display: flex;
  justify-content: center;
}
