
<div class= "company">
 <div class="col-md-10">

  <h1 class="company-title">We are Olive</h1>

  <p class= "olive_description">
    We help users round up the "digital change" from their credit or debit card accounts every month, and then automatically send that amount to the non-profit of their choice!</p>

  <p class= "olive_description">
    Our goal is to help raise money and awareness for non-profits around the world, and enable everyone to contribute to a better society, one piece of digital spare change at a time.
  </p>
  <h3 class="email-about"><%= mail_to 'hello@olive.gives' %></h3>
</div>
</div>


