<div class= "aboutus_container">
  <div class="">


  <div class= "About_Olive">

    <h1>We are Olive</h1>

      <p class= "Olive_description">
      </p>
</div>
  </div>

  <div class="team">

    <h2>Meet the team</h2>

      <div class="fteam-section">

        <div class="row" style="margin-bottom: 15px;">
          <div class="col-md-6">
            <h3 class="Header-team">
              Marisa Paramita
            </h3>
            <p class="role-team">
              Co-founder and developper
            </p>
            <p class="description-team">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            </p>

            <p class="team-icons">
              <a href="#"><i class="icons fab fa-github"></i></a>
              <a href="#"><i class="icons fab fa-facebook"></i></a>
              <a href="#"><i class="icons fab fa-linkedin"></i></a>
              <a href="#"><i class="icons fas fa-envelope"></i></a>
            </p>
          </div>

          <div class="col-md-6">
            <%= image_tag "Marisa.jpg", style: "border-radius: 186px; width:343px; margin-top:20px; margin-left: 80px;" %>
          </div>
        </div>

        <div class="row" style="margin-bottom: 15px;">
          <div class="col-md-6">
            <%= image_tag "Mark.jpg", style: "border-radius: 186px; width:343px; margin-top:20px; margin-right: 80px;" %>
          </div>

          <div class="col-md-6">
            <h3 class="Header-team">
              Mark
            </h3>
            <p class="role-team">
              Co-founder and developper
            </p>
            <p class="description-team">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            </p>

            <p class="team-icons">
              <a href="#"><i class="icons fab fa-github"></i></a>
              <a href="#"><i class="icons fab fa-facebook"></i></a>
              <a href="#"><i class="icons fab fa-linkedin"></i></a>
              <a href="#"><i class="icons fas fa-envelope"></i></a>
            </p>
          </div>
        </div>

        <div class="row" style="margin-bottom: 15px;">
          <div class="col-md-6">
            <h3 class="Header-team">
              Antoinette
            </h3>
            <p class="role-team">
              Co-founder and developper
            </p>
            <p class="description-team">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            </p>

            <p class="team-icons">
              <a href="#"><i class="icons fab fa-github"></i></a>
              <a href="#"><i class="icons fab fa-facebook"></i></a>
              <a href="#"><i class="icons fab fa-linkedin"></i></a>
              <a href="#"><i class="icons fas fa-envelope"></i></a>
            </p>
          </div>

          <div class="col-md-6">
            <%= image_tag "Antoinette.jpg", style: "border-radius: 186px; width:343px; margin-top:20px; margin-left: 80px;" %>
          </div>
        </div>
      </div>

  </div>

</div>
