<div class="faq_background">
  <div class="container">

    <h2 class="second-text" id="faq_title">Frequently Asked Questions</h2>

    <div class="accordion">
      <div class="accordion-item">
        <a>What is Olive?</a>
        <div class="content">
          <p>We help users round up the "digital change" from their credit or debit card accounts every month, and then automatically send that amount to the non-profit of their choice! </p><p> Our goal is to help raise money and awareness for non-profits around the world and enable everyone to contribute to a better society, one piece of digital spare change at a time.</p>
        </div>
      </div>
      <div class="accordion-item">
        <a>How does Olive work?</a>
        <div class="content">
          <ol>
            <li>
              Pick an NGO that you love, [add link]
            </li>
            <li>
              Signup for an account, then link your debit or credit card account and Olive will automatically calculate and sum up your digital spare change from the past month.
            </li>
            <li>
              Next setup secure payment with Stripe for monthly donations - thats it!
            </li>
            <li>
              You can check on the impact of your donations by visiting your Dashboard
            </li>
          </ol>
        </div>
      </div>
      <div class="accordion-item">
        <a>What is “digital spare change”?</a>
        <div class="content">
          <p>Digital spare change is the spare change you get back when you purchase an item or service with your credit or debit card. When you buy lunch for $7.80, the spare change is the 20c left over.</p>
        </div>
      </div>
      <div class="accordion-item">
        <a>How is spare change calculated?</a>
        <div class="content">
          <p>Olive adds up all of your spare change every month by rounding up each transaction on your bank or credit card statement then subtracting the purchase amount from that figure. The spare change from each transaction is summed up to reach your monthly donation amount.
          </p>
        </div>
      </div>
      <div class="accordion-item">
        <a>Can you estimate my spare change?</a>
        <div class="content">
          <p>Based on historical averages the typical user’s spare change will amount to approximately 1% of monthly spending, or $10 in change for every $1000 in spending.</p>
        </div>
      </div>
      <div class="accordion-item">
        <a>What type of account can I link?</a>
        <div class="content">
          <p>If you are in the US or Canada, we offer the ability to link most debit cards and credit cards. We are working hard to bring this feature to other regions!
          </p>
        </div>
      </div>
      <div class="accordion-item">
        <a>Do I have to link my account?</a>
        <div class="content">
          <p>If your accounts are based outside of the US or Canada, you can upload a bank or credit card statement and Olive will analyze your transactions.</p>
        </div>
      </div>
      <div class="accordion-item">
        <a>Is my banking information secure?</a>
        <div class="content">
          <p>Yes, we work with major fintech providers, including Stripe and Plaid, to ensure your account information is secure. We do not store any user account information or payment information on our servers. After analyzing your monthly statements all user financial data are destroyed with the exception of the donation amount.</p>
        </div>
      </div>
      <div class="accordion-item">
        <a>When will my donations be paid from my account?</a>
        <div class="content">
          <p>When you set up your account, we help you make your first donation. After that, every month on the same day of your account creation we will round up your spare change and initiate a donation transaction on your behalf.</p>
        </div>
      </div>
      <div class="accordion-item">
        <a>Can I donate in my local currency?</a>
        <div class="content">
          <p>Yes, we partner with Stripe to accept over 130 currencies and payment methods!</p>
        </div>
      </div>
      <div class="accordion-item">
        <a>Can I pause or stop my contributions?</a>
        <div class="content">
          <p>Yes, from your Dashboard you can Pause Donations or Cancel Your Account.</p>
        </div>
      </div>
      <div class="accordion-item">
        <a>How much does Olive cost?</a>
        <div class="content">
          <p>In order to fund operations and grow our platform we currently take up to 10c from every dollar donated, however our goal is to reduce that number to 1c as the number of users grows. Help us achieve our goal and increase the amount of money we can send to non-profits by sharing Olive with your friends!
          </p>
        </div>
      </div>
      <div class="accordion-item">
        <a>What makes Olive unique?</a>
        <div class="content">
          <p>Our focus is on enabling users from any country to donate to non-profits in any country, seamlessly. We are a global first company and believe donors and non-profits can make a difference anywhere, regardless of borders.</p>
        </div>
      </div>
      <div class="accordion-item">
        <a>Is Olive a non-profit? A corporation?</a>
        <div class="content">
          <p>Olive is a Benefit Corporation, and was formed with the sole purpose of helping people donate to non-profits. We measure our impact by the amount of money we are able to help donate, and the social impact of those donations. Being a Benefit Corporation means we are committing to a higher standard of purpose, accountability, and transparency, which aligns with our stated goals. We believe our choice in structure will best enable us to remain nimble, grow our reach, and effectively meet our goals.</p>
        </div>
      </div>
    </div>

  </div>
</div>
