<div class="jumbotron" id="hero">
<h1 id="header-text">Donate your digital spare change</h1>
<h3 id="secondary-text">We help you donate and calculate your digital round up
  <br>
so you can make an impact seamlessly</h3>
<div class="mt-16">
<br>
<%= link_to 'Get started', new_user_registration_path, class: "button-primary" %>
</div>
</div>
