<div class="container">
  <br>
  <h1 class="third-text" align="center" id="link-title">Link your Debit/Credit Card Account</h1>
  <br>
<div class="card-link">

  <h5>We need to access the last 30 days of debit or credit card transactions you have made, so we can calculate your digital spare change! Please link your account below. We promise no personal information will be stored.</h5>
  <button id="link-button" class="button-primary">Link Account</button>
  <script
src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script
src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  <script type="text/javascript">
    (function($) {
      var handler = Plaid.create({
        clientName: 'Olive',
        env: '<%= ENV["PLAID_ENV"] %>',
        key: '<%= ENV["PLAID_PUBLIC_KEY"] %>',
        product: ['transactions'],
        // Optional – use webhooks to get transaction and error updates
        webhook: 'https://requestb.in',
        onLoad: function() {
          // Optional, called when Link loads
        },
        onSuccess: function(public_token, metadata) {
          // Send the public_token to your app server.
          // The metadata object contains info about the institution the
          // user selected and the account ID or IDs, if the
          // Select Account view is enabled.
          $.post(
            '/get_access_token',
            {
              public_token: public_token,
            },
            function () {
              window.location.replace('/link_result');
            }
          );
        },
        onExit: function(err, metadata) {
          // The user exited the Link flow.
          if (err != null) {
            // The user encountered a Plaid API error prior to exiting.
          }
          // metadata contains information about the institution
          // that the user selected and the most recent API request IDs.
          // Storing this information can be helpful for support.
        },
        onEvent: function(eventName, metadata) {
          // Optionally capture Link flow events, streamed through
          // this callback as your users connect an Item to Plaid.
          // For example:
          // eventName = "TRANSITION_VIEW"
          // metadata  = {
          //   link_session_id: "123-abc",
          //   mfa_type:        "questions",
          //   timestamp:       "2017-09-14T14:42:19.350Z",
          //   view_name:       "MFA",
          // }
        }
      });

      $('#link-button').on('click', function(e) {
        handler.open();
      });
    })(jQuery);
  </script>
  <%= link_to "Back", root_path, class:"Back" %>
</div>
  <br>
</div>
