<div class="container">
  <br>
  <h1 class="show-title" align="center">Link Your Card</h1>
  <h1 class="third-text" align="center" id="link-title">Round Up Your Digital Spare Change</h1>



<div id="how_to_link">

<div class="card-impact how_to_card">
  <h2 class="number-card">1.</h2>
    <h6>Securely sign into your credit or debit card account</h6>
  </div>
   <div class="card-impact how_to_card">
    <h2 class="number-card">2.</h2>
    <h6>Olive downloads your recent transactions, computing your digital spare change</h6>
  </div>
   <div class="card-impact how_to_card">
    <h2 class="number-card">3.</h2>
    <h6>We repeat this process monthly, never storing personal user data</h6>
  </div>

</div>

<div class="card-link">


  <button id="link-button" class="button-primary btn-lg">Link Account</button>
  <script
src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script
src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  <script type="text/javascript">
    (function($) {
      var handler = Plaid.create({
        clientName: 'Olive',
        env: '<%= ENV["PLAID_ENV"] %>',
        key: '<%= ENV["PLAID_PUBLIC_KEY"] %>',
        product: ['transactions'],
        // Optional – use webhooks to get transaction and error updates
        webhook: 'https://requestb.in',
        onLoad: function() {
          // Optional, called when Link loads
        },
        onSuccess: function(public_token, metadata) {
          // Send the public_token to your app server.
          // The metadata object contains info about the institution the
          // user selected and the account ID or IDs, if the
          // Select Account view is enabled.
          $.post(
            '/get_access_token',
            {
              public_token: public_token,
            },
            function () {
              window.location.replace('/link_result');
            }
          );
        },
        onExit: function(err, metadata) {
          // The user exited the Link flow.
          if (err != null) {
            // The user encountered a Plaid API error prior to exiting.
          }
          // metadata contains information about the institution
          // that the user selected and the most recent API request IDs.
          // Storing this information can be helpful for support.
        },
        onEvent: function(eventName, metadata) {
          // Optionally capture Link flow events, streamed through
          // this callback as your users connect an Item to Plaid.
          // For example:
          // eventName = "TRANSITION_VIEW"
          // metadata  = {
          //   link_session_id: "123-abc",
          //   mfa_type:        "questions",
          //   timestamp:       "2017-09-14T14:42:19.350Z",
          //   view_name:       "MFA",
          // }
        }
      });

      $('#link-button').on('click', function(e) {
        handler.open();
      });
    })(jQuery);
  </script>

</div>
  <br>
</div>
