.footer-copyright {
  text-align: center;
  letter-spacing: 2px;
  color: #4B6362;
  margin-top: 40px;
  margin-bottom: 20px;
}

.icon {
  color: #D58B6A
}

.footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  padding: 25px;
  margin-top: 25px;
  bottom: -25px;
  margin: 0 auto;
  width:100%;
}

body {
  min-height: 100vh;
}

.fa {
  padding: 15px;
}
