.footer-copyright {

  text-align: center;
  letter-spacing: 2px;
  color: #4B6362;

}

.icon {
  color: #D58B6A
}

.footer {
  //position: absolute;
  padding: 20px;
  margin-top: 25px;
  bottom: 0;
  margin: 0 auto;
  width:100%;
}
